<template>
  <footer>
    <div class="upper-section scroll-catch1">
      <div>
      <h1>Get Started with a Pop-up Drive</h1>
      </div>
      <form action="http://lifebank.ng/popupemail.php" method="post">
        <input id="organisation-name" type="text" placeholder="Organisation’s Name" name="organization">
        <input id="email-address" type="email" placeholder="Contact’s Email Address" name="email">
        <input id="contact-name" type="text" placeholder="Contact’s Name" name="name">
        <input id="contact-phone" type="number" placeholder="Contact’s Phone Number" name="phone">
        <textarea id="additional-message" cols="30" rows="5" placeholder=" Additional Message" name="message"></textarea>
        <button class="my-btn" type="submit">Send Mail</button>
      </form>
    </div>
    <hr>
    <div class="lower-section">
      <div class="about-text">
        <h3>About LifeBank</h3>
        <p>
          LifeBank is a medical distribution company that uses big data, smart logistics and a combination of low high technology to discover and deliver essential medical products, saving lives in hospitals across Nigeria.
        </p>
      </div>
      <div class="footer-nav">
        <h3>Company</h3>
        <ul>
          <li><a><router-link to="/">About Us</router-link></a></li>
          <li><a><router-link to="/how-it-works">How It Works</router-link></a></li>
          <li><a href="https://lifebank.ng/impact/" target="_blank">Impact</a></li>
          <li><a><router-link to="/gallery">Gallery</router-link></a></li>
          <li><a ref="scrollToContact">Contact</a></li>
        </ul>
      </div>
      <div class="contact-us">
        <h3>Contact Us</h3>
        <p>
          hello@lifebank.ng <br>
          +234 909 7167 238 <br>
          1, Connal Road, Yaba, Lagos, Nigeria.</p>
      </div>
      <div class="download">
        <h3>Download our Donor Guideline Brochure</h3>
        <a href="../../static/Pop-UP Drive Donor Brochure Download-min-min.pdf" target="_blank"><i class="fas fa-file-download fa-4x"></i></a>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  data() {
    return {
      navContact: ''
    }
  },
  mounted() {
    this.navContact = this.$refs.scrollToContact;
    this.navContact.addEventListener('click', () => {
      document.querySelector('.scroll-catch1').scrollIntoView({
        behavior: 'smooth'
      });
    });
  }
}
</script>



<style scoped>
footer {
  display: grid;
  grid-template-columns: 1fr;
  background: linear-gradient(#b70303, #660808);
  padding: 10px;
  color: #fff;
}

.lower-section div {
  margin: 15px auto;
  width: 100%;
}

input,
textarea {
  border: 1px solid #fff;
  padding: 10px 5px;
  outline: #fff;
  font-size: 15px;
  width: 100%;
  margin: 5px auto;
}

form {
  grid-area: message-form;
  width: 100%;
  margin: 0px auto;
  padding-bottom: 10px;
}

.about-text {
  grid-area: about-text;
}

.footer-nav {
  grid-area: footer-nav;
}

.contact-us {
  grid-area: contact-us;
}

.download {
  grid-area: download;
}

#organisation-name {
  grid-area: organisation-name;
}

#email-address {
  grid-area: email-address;
}

#contact-name {
  grid-area: contact-name;
}

#contact-phone {
  grid-area: contact-phone;
}

#additional-message {
  grid-area: additional-message;
}

hr {
  margin: 45px 0 20px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

h1 {
  grid-area: footer-header;
  padding: 20px 5px;
  font-family: "Comfortaa", cursive;
}

h3 {
  padding: 3px 0;
  font-family: "Comfortaa", cursive;
}

i {
  padding: 10px;
  cursor: pointer;
}

p {
  font-size: 15px;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}

@media (min-width: 500px) {
  .upper-section {
    display: flex;
    padding: 50px;
  }

  hr {
    margin: 45px 50px 20px;
  }

  .upper-section div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
  }

  form {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
      "organisation-name contact-name"
      "email-address contact-phone"
      "additional-message additional-message";
  }

  .lower-section {
    padding: 20px;
    display: grid;
    grid-gap: 50px;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-areas: "about-text footer-nav contact-us download";
  }
}
</style>
