<template>
  <main>
    <h1>Our Friends</h1>
    <div class="slider_hold">
      <div id="not-mobile">
      <v-carousel hide-delimiters hide-controls>
          <v-carousel-item v-for="(item,i) in items" :key="i">
              <div class="captions1">
                <h2 ref="p1">{{ item.title }}</h2>
                <p :style="{'font-size': '12px'}" ref="p2" v-if="items[i + 1]">{{ (items[i + 1]).title }}</p>
                <p :style="{'font-size': '12px'}" ref="p3" v-if="items[i + 2]">{{ (items[i + 2]).title }}</p>
                <p :style="{'font-size': '12px'}" ref="p4" v-if="items[i + 3]">{{ (items[i + 3]).title }}</p>
              </div>
          </v-carousel-item>
      </v-carousel>
      </div>
      <v-carousel hide-delimiters hide-controls>
          <v-carousel-item v-for="(item,i) in items" :key="i" :src="item.src">
              <div class="captions">
                <h2 ref="p1" :style="{width:'100%', color:'#fff', background: 'rgba(0,0,0,.8)'}">{{ item.title }}</h2>
                <p ref="p2" v-if="items[i + 1]">{{ (items[i + 1]).title }}</p>
                <p ref="p3" v-if="items[i + 2]">{{ (items[i + 2]).title }}</p>
                <p ref="p4" v-if="items[i + 3]">{{ (items[i + 3]).title }}</p>
              </div>
          </v-carousel-item>
      </v-carousel>
    </div>
        <section class="stages">
      <h2>Select an Impact</h2>
      <p>Select one or more impact your organisation is interested in contribting</p>
      <div class="steps">
        <div class="descp">
          <h3>BLOOD TRUST</h3>
          <p>Blood Trust by LifeBank is a fund set up to give parents of children who have trouble paying their hospital bills access to blood in emergency situations, free of charge.</p>
        </div>
        <div class="img-hold img-hold1">
          <img src="../assets/PLQ5JKrFIU0LUvVOGvlXS8H-jrhxttbPlSyvbT61O6gDTqngUnbRYJcx6DJod-k7y1iuCAXmeIXmFwZkFoe7vylfBocGjQTu (1).png">
          <img class="img-screen" src="../assets/Blood-Trust-2.png">
        </div>

        <div class="img-hold not-mobile">
          <img class="bikes-pic bike1" src="../assets/motobikesback.png">
          <img class="bikes-pic bike2" src="../assets/motobikesfront.png">
        </div>
        <div class="descp">
          <h3>MOTOR BIKES</h3>
          <p>1 million people who would commit to giving blood twice a year.</p>
        </div>
        <div class="img-hold not-web">
          <img class="bikes-pic bike1" src="../assets/motobikesback.png">
          <img class="bikes-pic bike2" src="../assets/motobikesfront.png">
        </div>

        <div class="descp">
          <h3>AIRBANK</h3>
          <p>Aiirbank on a mission to reduce mortality rate in Nigeria by improving the distribution of oxygen across Nigeria.</p>
        </div>
        <div class="img-hold">
          <img src="../assets/PLQ5JKrFIU0LUvVOGvlXS8H-jrhxttbPlSyvbT61O6gDTqngUnbRYJcx6DJod-k7y1iuCAXmeIXmFwZkFoe7vylfBocGjQTu (1).png">
          <img class="img-screen" src="../assets/Air-Bank_Web-Version-2.png">
        </div>

        <!--  -->
        <div class="img-hold not-mobile">
          <img src="../assets/gift-wrap.png">
          <img class="wrap1" src="../assets/gift-voucher.png">
        </div>
        <div class="descp">
          <h3>DONOR GIFT</h3>
          <p>Aiirbank on a mission to reduce mortality rate in Nigeria by improving the distribution of oxygen across Nigeria.</p>
        </div>
        <div class="img-hold not-web">
          <img src="../assets/gift-wrap.png">
          <img class="wrap1" src="../assets/gift-voucher.png">
        </div>
      </div>
    </section>
  </main>
</template>

<script>
export default {
  mounted() {
    this.title = this.$refs.p1;
  },
  data() {
    return {
      title: "",
      counter: -1
    };
  },
  computed: {
    largeTxt() {
      console.log(this.title);
      // setInterval(() => {
      return this.title;
      // }, 200);
    },
    items() {
      return [
        {
          src: "../../static/baby.png",
          title: "Oando Pop-Up Drive"
        },
        {
          src: "../../static/friends.png",
          title: "Diamond Pop-Up Drive"
        },
        {
          src: "../../static/mid wife pic.png",
          title: "CowryWise Pop-Up Drive"
        },
        {
          src: "../../static/straight face.png",
          title: "Merristem Securities Pop-Up Drive"
        }
      ];
    }
  }
};
</script>

<style scoped>
main {
  padding: 10vh 0px 10px;
}

.captions1 h2 {
  color: #fff;
}

.slider_hold {
  background: rgba(0, 0, 0, 0.8);
}

.captions {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
}

h2 {
  padding: 10px;
}

.captions p {
  display: none;
}

#not-mobile {
  display: none;
}
h2 {
  color: #000;
  padding: 10px;
}

img {
  width: 100%;
  height: auto;
}

.stages > p {
  margin: -12px auto 20px;
}

.stages {
  background: #fff;
  margin-top: -5px;
  padding: 10px;
  text-align: center;
  padding-top: 50px;
}

.stages p {
  color: #000;
}

h3 {
  color: #710707;
  font-size: 15px;
}

.img-hold {
  position: relative;
}

.img-hold {
  margin: 20px auto;
}

.img-screen {
  position: absolute;
  top: -15px;
  left: 0;
  transform: scale(.75);
}

.bikes-pic {
  transform: scale(.9);
  margin: 2px auto 40px;
}

.bike2, .wrap1 {
  transform: scale(.8);
  position: absolute;
  top: 40px;
  left: 20px;
}

.not-mobile {
  display: none;
}


@media (min-width: 500px) {
  main > h1, main > p {
      padding: 0px 35px;
    }

    .procedure {
      margin: 0px 35px;
    }

    .not-mobile {
      display: block;
    }

    .not-web {
      display: none;
    }

    .steps {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 0 70px;
    }

    .descp {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

  .slider_hold {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  h1 {
    padding: 20px;
  }

  .captions {
    position: absolute;
    top: 0;
  }

  .captions1 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .captions p,
  .captions h2 {
    display: none;
  }

  #not-mobile {
    display: block;
  }
}

   @media(min-width: 1000px) {
    main > h1, main > p {
      padding: 0px 100px;
    }

    .steps {
      padding: 0 100px;
    }

    .procedure {
      margin: 50px 100px 0;
    }
    }
</style>

