<template>
  <div class="header-hold">
    <section class="logo-info">
      <router-link to="/">
        <img src="../assets/final logo.png" alt="LifeBank Logo" width="120px">
      </router-link>
        <div class="call-centre">
          <img src="../assets/call centre picture.png" alt="Call Centre Picture">
          <p>For more info, call us on: <br>0817 367 494</p>
        </div>
      </section>
      <nav>
        <!-- Hamburger Icon -->
        <div class="menu-toggle" @click="toggleMenu">
          <div :style="{background: navColor}" class="hamburger hamburger1" ref="hamburger1"></div>
          <div :style="{background: navColor}" class="hamburger hamburger2" ref="hamburger2"></div>
          <div :style="{background: navColor}" class="hamburger hamburger3" ref="hamburger3"></div>
        </div>

        <!-- Nav Section -->
          <ul class="navList" ref="navlist">
            <div v-for="navItem in navItems" :key="navItem.navLink">
                <li :style="{background: navListColor, border: navListColor, padding: '15px 30px'}"><a><router-link :style="{color: navItem.navColor}" :to="navItem.navLink">{{ navItem.name }}</router-link></a></li>
            </div>
            <li ref="contact1" :class="{contact1: isLearnMore, contact2: !isLearnMore}" style="padding: 15px 30px"><a :class="{contact1child: isLearnMore, contact2child: !isLearnMore}">Contact</a></li>
          </ul>
      </nav>
  </div>
</template>

<script>
export default {
  created () {
    window.addEventListener('scroll', this.handleScroll);
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll);
  },
  mounted() {

  },
  computed: {
    isLearnMore() {
      if (this.$route.path === "/learn-more") {
        return true
      }
      else {
        return false
      }
    },
    navListColor() {
      if (this.$route.path === "/learn-more") {
        return 'rgba(255,255,255,1)';
      } else {
        return 'rgba(183, 3, 3,1)';
      }
    },
    navItems() {
      if (this.$route.path === "/learn-more") {
        this.navColor = '#b70303';
        this.navbgColor = '#fff'
      } else {
        this.navColor = '#fff';
        this.navbgColor = 'b70303';
      }
      return [
        {
          name: 'Home',
          navLink: '/',
          navColor: this.navColor
        },
        {
          name: 'Plan a Drive',
          navLink: '/plan-a-drive',
          navColor: this.navColor
        },
        {
          name: 'Gallery',
          navLink: '/gallery',
          navColor: this.navColor
        }
      ]
    }
  },
  data() {
    return {
      navColor: '#fff'
    };
  },
  methods: {
    toggleMenu() {
      this.$refs.navlist.classList.toggle("open-nav");
      this.$refs.hamburger1.classList.toggle("cross1");
      this.$refs.hamburger3.classList.toggle("cross2");
      this.$refs.hamburger2.classList.toggle("changedisplay");

      // Click action for nav to make nav bar disapear on click
      for (let i = 0; i < this.$refs.navlist.children.length; i++) {
        this.$refs.navlist.children.item(i).addEventListener("click", () => {
          this.$refs.navlist.classList.remove("open-nav");
          this.$refs.hamburger1.classList.remove("cross1");
          this.$refs.hamburger3.classList.remove("cross2");
          this.$refs.hamburger2.classList.remove("changedisplay");
        });
      }
    },
    handleScroll() {
      if (this.$route.path !== "/learn-more") {
        if (window.scrollY > 0) {
          document.querySelector('nav').style.background = 'rgba(183, 3, 3,.9)';
        }
        else {
          document.querySelector('nav').style.background = 'rgba(0,0,0,0)';
        }
      }
      else {
        if (window.scrollY > 0) {
          document.querySelector('nav').style.background = 'rgba(255, 255, 255,.9)';
        }
        else {
          document.querySelector('nav').style.background = 'rgba(0,0,0,0)';
        }
      }
    }
  }
};
</script>

<style>
/* css variables */
:root {
  --dist: 50px;
}

* {
  padding: 0;
  margin: 0;
}

.header-hold {
  position: absolute;
  width: 100%;
  position: fixed;
  z-index: 99999;
}

.logo-info {
  height: 50px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
}

.call-centre {
  font-size: 10px;
  border-radius: 20px;
  width: 173px;
  background: #333;
  color: #fff;
  display: flex;
  box-sizing: border-box;
}

.call-centre p {
  font-size: 10px;
}

.call-centre img {
  border-radius: 50%;
  padding-right: 10px;
  margin-left: -5px;
  transform: scale(1.2);
}

nav {
  display: flex;
  justify-content: flex-end;
  height: var(--dist);
  position: relative;
  background: rgba(0, 0, 0, 0);
  transition: all 300ms;
}

.navList {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0px;
  font-size: 18px;
  transition: all ease-in-out 300ms;
  margin-top: var(--dist);
  transform: scaleY(0);
}

.navList li {
  background: #b70303;
  border-width: 3px;
  padding: 17px 60px 17px 20px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

nav .contact1 {
  background: #fff;
}

nav ul li .contact1child {
  color: #b70303;
}

nav .contact2 {
  background: #b70303;
}

nav ul li .contact2child {
  color: #fff;
}

nav ul li a {
  text-decoration: none;
  /* color: #fff; */
}

.open-nav {
  transform: scaleY(1);
}

.cross1 {
  transform: rotate(45deg) translate(8px);
}

.cross2 {
  transform: rotate(-45deg) translate(8px);
}

.changedisplay {
  display: none;
}

.menu-toggle {
  /* background: #fff; */
  width: var(--dist);
  height: calc(var(--dist) * 0.8);
  position: absolute;
  top: calc(var(--dist) * 0.08);
  right: calc(var(--dist) * 0.08);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 8px 0;
}

.hamburger {
  background: #fff;
  height: 3px;
  width: 60%;
  transition: all 200ms;
}

@media (min-width: 500px) {
  .hamburger {
    display: none;
  }

  .navList {
    transform: scale(1);
    margin-top: 0;
    flex-direction: row;
  }

  .navList li {
    background: rgba(0, 0, 0, 0) !important;
    border: 0;
    padding-top: 30px;
  }

  .logo-info {
    padding: 10px 50px;
  }
}
</style>
