<template>
  <main>
    <div class="intro-text">
      <div>
        <h1>Host a Pop-up Drive</h1>
        <p>Every year, thousands of young children, accident victims, cancer patients and pregnant mothers die from Blood shortage. We are partnering with corporate organizations to host Pop-Up Drives to generate 1 million pints of blood.</p>
        <router-link
          to="/learn-more"
          style="color: #000; text-decoration: none;"
          class="my-btn"
        >Learn More</router-link>
      </div>
      <div class="test-div">
        <img src="../assets/Ellipse (4).png" alt="Pop-up drivers" />
      </div>
    </div>
    <section class="feature">
      <h3>Why Should We Care?</h3>
      <p>
        <strong>Nigerians lose their lives because the blood they needed was not available whilst in an emergency setting.</strong>
      </p>
      <section class="segments-hold">
        <div class="segments">
          <img src="../assets/Vector (1).png" alt="child icon" />
          <p>
            <strong>
              <em>35,000 Children with Malaria</em>
            </strong>
          </p>
        </div>
        <div class="segments">
          <img src="../assets/redblood cell.png" alt="sickle cell icon" />
          <p>
            <strong>
              <em>50,000 Sickle Cell</em>
            </strong>
          </p>
        </div>
        <div class="segments">
          <img src="../assets/car-accident.png" alt="car accident icon" />
          <p>
            <strong>
              <em>17,801 Accident Victims</em>
            </strong>
          </p>
        </div>
        <div class="segments">
          <img src="../assets/Vector.png" alt="pregnant woman icon" />
          <p>
            <strong>
              <em>26,000 Pregnant Women</em>
            </strong>
          </p>
        </div>
      </section>

      <!-- Pop up Drive -->
      <section class="text">
        <div class="container">
          <div class="tab__container">
            <!-- aside text -->
            <div class="aside">
              <div
                id="tab-1"
                class="tab-item"
                @click="changeSlide(1)"
                :class="{'tab-border': this.activeSlide === 1}"
              >
                <p>What is Lifebank Pop-up Drive?</p>
              </div>
              <div
                id="tab-2"
                class="tab-item"
                @click="changeSlide(2)"
                :class="{'tab-border': this.activeSlide === 2}"
              >
                <p>Why you should care?</p>
              </div>
              <div
                id="tab-3"
                class="tab-item"
                @click="changeSlide(3)"
                :class="{'tab-border': this.activeSlide === 3}"
              >
                <p>Benefits of hosting a Pop-up Drive?</p>
              </div>
            </div>

            <div class="text-content">
              <div class="text--container">
                <div id="tab-1-content" :class="{'show': this.activeSlide ===	1}">
                  <h2>What is LifeBank Pop-up Drive?</h2>
                  <p>
                    LifeBank pop-up drive is a fun and engaging replication of
                    the entire blood donation experience right in your office.
                    We bring life-saving opportunity to your workplace and
                    provide a unique bonding opportunity for your employees with
                    the community.
                  </p>
                </div>
                <div id="tab-2-content" :class="{'show': this.activeSlide ===	2}">
                  <h2>Why you should care!</h2>
                  <p>
                    Every year, thousands of Nigerians die in hospitals due to
                    lack of blood units needed to keep them alive. Your
                    organisation can help save thousands of the most vulnerable
                    members of your community by hosting a PoP-Up drive. Your
                    donations and continued support are crucial to local
                    hospitals and their patients. This will contribute
                    significantly towards maintaining a safe, affordable and
                    accessible stable blood supply. It is invaluable as patients
                    rely on voluntary donations for life-saving blood products.
                  </p>
                </div>
                <div id="tab-3-content" :class="{'show': this.activeSlide ===	3}">
                  <h2>Benefits of Hosting a Pop-up Drive</h2>
                  <p class="intro">
                    Introduction: Brands who have hosted pop-up drives reported
                    the following:
                  </p>
                  <ul class="text__list" v-for="list in lists" :key="list">
                    <li class="text__item">{{list}}</li>
                  </ul>
                </div>

                <div class="carousel__dot">
                  <button
                    id="tab-1"
                    class="carousel-item"
                    @click="changeSlide(1)"
                    :class="{'current-slide': this.activeSlide === 1}"
                  ></button>
                  <button
                    id="tab-2"
                    class="carousel-item"
                    @click="changeSlide(2)"
                    :class="{'current-slide': this.activeSlide === 2}"
                  ></button>
                  <button
                    id="tab-3"
                    class="carousel-item"
                    @click="changeSlide(3)"
                    :class="{'current-slide': this.activeSlide === 3}"
                  ></button>
                </div>

                <div class="btns">
                  <span class="prev" @click="prevSlide" disabled>
                    <i class="fas fa-chevron-left"></i>
                  </span>
                  <span class="next" @click="nextSlide">
                    <i class="fas fa-chevron-right"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End of Pop up Drive -->

      <div>
        <h3>HOW IT WORKS</h3>
        <img src="../assets/Pop-up drie infographics seteps_V2.png" width="100%" />
      </div>
    </section>

    <section class="benefits">
      <div class="partners">
        <h2>Partners</h2>
        <div>
          <img src="../assets/1200px-Diamond_Bank_Logo.jpg" alt="Diamond Bank Logo" />
          <img src="../assets/1200px-Oando_logo.svg.png" alt="Oando Logo" />
          <img src="../assets/download.png" alt="Cowrywise Logo" />
          <img src="../assets/meristem_sl.png" alt="Meristem Logo" />
        </div>
      </div>
      <h2>BENEFITS</h2>
      <div>
        <v-toolbar id="my-tool-bar" color="#fff" tabs>
          <v-tabs
            slot="extension"
            v-model="currentItem"
            color="transparent"
            fixed-tabs
            slider-color="#b70303"
          >
            <v-tab
              v-for="item in items"
              :href="'#tab-' + item.header"
              :key="item.header"
            >{{ item.header }}</v-tab>
          </v-tabs>
        </v-toolbar>

        <v-tabs-items v-model="currentItem">
          <v-tab-item v-for="item in items" :id="'tab-' + item.header" :key="item.header">
            <v-card flat>
              <v-card-text>
                <div class="benfits-section">
                  <div>
                    <h3>{{ item.header }}</h3>
                    <p>{{ item.text }}</p>
                  </div>
                  <img :src="item.imgSrc" />
                </div>
              </v-card-text>
            </v-card>
          </v-tab-item>
        </v-tabs-items>
      </div>
    </section>
  </main>
</template>

<script>
export default {
  data: () => ({
    currentItem: "tab-Web",
    activeSlide: 1,
    items: [
      {
        header: "Benefits to Employee",
        text:
          "Employees are busy and can not go give blood. We bring the blood bank to them.",
        imgSrc: "../../static/pop up drive.png"
      },
      {
        header: "Benefits to Brand",
        text:
          "Employees are busy and can not go give blood. We bring the blood bank to them.",
        imgSrc: "../../static/pop up drive.png"
      },
      {
        header: "Benefits to Country",
        text:
          "Employees are busy and can not go give blood. We bring the blood bank to them.",
        imgSrc: "../../static/pop up drive.png"
      }
    ],
    lists: [
      "Free medical checkup for employees",
      "Improved employee morale",
      "Increased Team Bonding",
      "Improvement in Internal Branding",
      "Company is seen as a Community Player",
      "Opportunity to create an overhead-free CSR project"
    ]
  }),

  methods: {
    addItem(item) {
      const removed = this.items.splice(0, 1);
      this.items.push(...this.more.splice(this.more.indexOf(item), 1));
      this.more.push(...removed);
      this.$nextTick(() => {
        this.currentItem = "tab-" + item;
      });
    },
    changeSlide(num) {
      this.activeSlide = num;
    },
    nextSlide() {
      if (this.activeSlide < 3) {
        this.activeSlide++;
      }
    },
    prevSlide() {
      if (this.activeSlide > 1) this.activeSlide--;
    }
  }
};
</script>
content_copy
Page


<style scoped>
.intro-text {
  padding: 0 10px;
}

.intro-text p {
  padding-bottom: 10px;
  line-height: 27px;
}

.test-div > img {
  display: none;
}

h1 {
  font-size: 35px;
}

.my-btn {
  border-radius: 50px;
  outline: 0;
}

h3 {
  color: #710707;
}

.feature {
  background: #fff;
  color: #333;
  padding: 20px;
  margin: 20px 10px 0;
  z-index: 9999999;
}

.partners div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.segments {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.segments p {
  padding-left: 10px;
  padding-top: 10px;
}

.segments img {
  background: #710707;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 2px;
}

.movement {
  margin: 70px auto;
}

.sub-movement {
  position: relative;
}

.over-pic {
  position: absolute;
  top: 30%;
  left: 20px;
}

.benefits {
  background: #fff;
  color: #000;
  margin-top: -30px;
}

.benefits h2 {
  text-align: center;
  color: #710707;
  padding: 50px 30px 30px;
}

.benefits h3 {
  padding: 20px 0;
  font-size: 18px;
}

.benefits img {
  width: 100%;
  height: auto;
  transform: scale(0.9);
}

.benefits p {
  margin-bottom: 40px;
}

#my-tool-bar {
  font-family: "Lato", sans-serif;
}

/* Pop Up Drive styling */
.text {
  font-size: 1.3rem;
  padding: 2.5em 0;
}

.container {
  position: relative;
}

.tab__container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 0.5rem;
}

.aside {
  align-self: center;
}

.tab-border {
  border-bottom: 1px solid #b30903;
}

.tab-item {
  width: 100%;
}

.tab-item + .tab-item {
  margin-top: 2em;
}

.tab-item p {
  cursor: pointer;
}

.text-content {
  background: #b30903;
  padding: 3.5em 3em;
  border-radius: 0.625em;
  position: relative;
  color: #fff;
}

.text--container {
  min-height: 24rem;
  position: relative;
}

#tab-1-content,
#tab-2-content,
#tab-3-content {
  display: none;
}

.show {
  display: block !important;
}

.tab-content-item {
  width: 100%;
}

.tab-content-item h2 {
  margin-bottom: 1em;
}

.text__list {
  list-style: square;
}

.carousel__dot {
  position: absolute;
  bottom: -100px;
  left: 50%;
}

.carousel-item {
  height: 1rem;
  width: 1rem;
  border-radius: 3em;
  border: 0;
  background: rgba(0, 0, 0, 0.25);
  cursor: pointer;
  outline: 1px solid transparent;
  transition: background 0.3s ease;
}

.carousel-item + .carousel-item {
  margin-left: 1em;
}

.carousel-item.current-slide {
  background: rgba(0, 0, 0, 0.75);
}

.btns {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  height: 2.5em;
  justify-content: space-between;
  margin-top: -5%;
  position: absolute;
  top: 50%;
  width: 100%;
}

.btns > span {
  cursor: pointer;
  transition: all 250ms;
}

.btns > span.prev {
  margin-left: -30px;
  animation: move-prev 1.2s linear infinite;
}
.btns > span.next {
  margin-right: -30px;
  animation: move-next 1.2s linear infinite;
}

@keyframes move-prev {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(2px);
  }
}

@keyframes move-next {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-2px);
  }
}
/* End of Pop up drive */

@media (min-width: 500px) {
  main {
    padding: 15vh 0 0;
    z-index: 20;
  }

  .intro-text {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    padding: 20px 5%;
  }

  .test-div {
    z-index: -9;
  }

  .test-div > img {
    display: block;
    width: 450px;
    height: 450px;
  }

  .partners div {
    overflow: hidden;
    display: flex;
  }

  .partners div img {
    width: 24%;
  }

  .feature {
    margin: 20px 9% 0;
    margin-top: -10%;
    padding: 40px 50px;
  }

  .segments-hold,
  .movement {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .sub-movement {
    margin: 40px 0;
  }

  .over-pic {
    top: 25%;
    left: 15%;
  }

  .feature h3 {
    font-size: 20px;
  }

  .benfits-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 20%;
  }
}

@media only screen and (max-width: 1020px) and (min-width: 510px) {
  main {
    padding: 10vh 0 0;
  }

  .intro-text {
    grid-template-columns: 2fr 1fr;
  }

  .test-div > img {
    transform: scale(0.8);
  }

  .feature {
    margin-top: 0;
  }
}
</style>

